* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    color: #f5f5f5;
}

.content{
    height: 100vh;
    width: 100vw;
    background-color: #151B2C;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}