.widget-container {
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
}
/* WidgetBlock.js */
.widget-block{
    width: 30%;
    height: 40%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #20293D;
}
.widget-block-header{
    height: 15%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.widget-block-body{
    height: 85%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow-y: scroll;
}
.scrollbar {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
    
}
/* page Widget */
.App {
    max-width: 70rem;
    margin: 2rem auto;
  }
  
  .activeJobs,
  .jobCredits {
    height: 100%;
  }
  
  .activeJobs,
  .activeJobsContainer,
  .jobViewsContainer,
  .jobViewsBlock,
  .jobCredits,
  .jobCreditsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .jobViewsContainer,
  .activeJobsContainer,
  .jobCreditsContainer {
    padding: 1rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  
  .jobViewsContainer {
    border: 1px solid #7c3aed;
    background-color: #ede9fe;
    color: #7c3aed;
  }
  
  .activeJobsContainer {
    border: 1px solid #2563eb;
    background-color: #dbeafe;
    color: #2563eb;
  }
  
  .jobCreditsContainer {
    color: #b45309;
    border: 1px solid #b45309;
    background-color: #fef3c7;
  }
  
  .activeJobsNum,
  .jobViews,
  .jobCreditsNum {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .jobViewsBlock {
    flex-direction: column;
  }
  
  .jobTitle {
    margin-bottom: 1rem;
    font-weight: 500;
    display: block;
  }
  
  .totalJobViewsGrid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 0;
  }
  
  .tileLayout {
    width: 100%;
  }
  
  .dashboardAside {
    width: 15rem;
  }